doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Song Management System
    link(rel="stylesheet", href="indexstyles.css")
  body
    // Header
    header
      h1 Welcome to the Song Management System
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/search") Search by Genre
          li
            a(href="/update") Update a Song
          li
            a(href="/add") Add a Song
          li
            a(href="/user_song") List All Songs
    
    // Main Content
    main
      h2 Welcome to the Song Management System!
      p Here you can manage songs and perform various operations.
      // Add any additional content as needed
    
    // Footer
    footer
      p &copy; 2023 Song Management System. All rights reserved.
